.box-container {
    width: 600px;
    height: 600px;
    border: 2px solid black;
    margin: auto;
    position: relative;
}
.box {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 0px;
    left: 0px;
    /* animation-name: box;
    animation-duration: 5s; */
    animation: box 5s;
    animation-delay: 2s;
}
@keyframes box {
    0% {
        top: 0px;
        left: 0px;
        background-color: red;
    }
    25% {
        top: 0px;
        left: 400px;
        background-color: yellow;
    }
    50% {
        top: 400px;
        left: 400px;
        background-color: blue;
    }
    75% {
        top: 400px;
        left: 0px;
        background-color: green;
    }
    100% {
        top: 0px;
        left: 0px;
        background-color: red;
    }

}